.homepageHero{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bannerText{
    color: white;
}