@import "./normalize.css";
@import "./Editor/AudioPlayer/AudioPlayer.css";
@import "./Homepage/homepage.css";
@import "./Displays/PodcastDisplay/podcastDisplay.css";
@import "./Displays//EpisodeDisplay/EpisodeDisplay.css";
@import "./Editor/Editor.css";

html{
    height: 100%;
}


.NavBar{
    height: 55px;
    background-color: #1cb3ff;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar__Link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    background-color: #1cb3ff;
    width: 100%;
}

.NavBar__Loginandsignout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    cursor: pointer;
    background-color: #1cb3ff;
    width: 100%;
}

.NavBar__Link:hover{
    background-color: #0084c6;
}

.Editor__SelectedWord{
    background-color: blue;
    color: white
}

.podcastCover{
    height: 300px;
    width: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.speakerClickContextBox, .localSpeakerContextBox{
    position: fixed;
}

.speakerOption{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae9e9;
    min-width: 120px;
    min-height: 35px;
    border-bottom: 1px solid black;
}

.speakerOption:hover{
    background-color: whitesmoke;
}

.loginPage{
    display: flex;
    align-items: center;
    flex-direction: column;
}
